body {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', Arial, sans-serif;
    background-image: url("images/table.png");
    background-size: cover;
    font-weight: bold;
    font-size: x-large;
    color: white;
    text-align: center;
}

.center-div {
    position: absolute;   /* Take the div out of the normal flow */
    top:50%;            /* Move top-left to the center */
    left: 50%;   
    transform: translate(-50%, -50%);
    width: 40rem;
    height: 30rem;
    border: 8px solid rgba(192, 35, 35, 0.666);
    border-radius: 1000px;
}

h1 {
    color: goldenrod;
}

#message-el {
    font-style: italic;
}

button {
    color: #016f32;
    width: 150px;
    height: 50px;
    background: goldenrod;
    padding-top: 5px;
    padding-bottom: 5px;
    font-weight: bold;
    border: none;
    border-radius: 2px;
    margin-bottom: 2px;
    margin-top: 2px;
}

@media screen and (max-width: 695px) {
    button {
        width: 50%;  /* Make buttons full width on mobile */
        margin: 5px 0;  /* Add some vertical spacing */
    }
    
    .center-div {
        width: 90%;  /* Make the center div responsive */
        height: auto;
        min-height: 20rem;
    }
}